<i class="icon-info-sign"></i> In this area you can see the keywords that gained and lost positions since yesterday.
<div class="sep"></div>
<div class="ups_downs_sector">
    <div class="widget-box">
        <div class="widget-title"><h5>Ups</h5></div>
        <div class="widget-content">
            {% if keyword_ups_downs.up_keywords|length %}
                <table class="up_down_stats">
                    <tr>
                        <th>
                            Keyword
                        </th>
                        <th>
                            Google
                        </th>
                        <th>
                            Bing
                        </th>
                        <th>
                            Yahoo
                        </th>
                    </tr>
                    {% for item in keyword_ups_downs.up_keywords %}
                        <tr>
                            <td>
                                <a href="{{ path('account_keyword_stats') }}?keyword_id={{ item.id }}{{ competitor_aux_url }}">{{ item.keyword }}</a>
                            </td>
                            <td>
                                {% if item.google_change>0 %}<b>{% endif %}
                                    {% if item.google_position != 0 %}
                                        {{ item.google_position }} 
                                    {% else %}
                                        -
                                    {% endif %}
                                {% if item.google_change>0 %}</b>{% endif %}
                                {% if item.google_change>0 %}(<span class="change_plus">+{{ item.google_change }}</span>){% endif %}
                            </td>
                            <td>
                                {% if item.bing_change>0 %}<b>{% endif %}
                                    {% if item.bing_position != 0 %}
                                        {{ item.bing_position }} 
                                    {% else %}
                                        -
                                    {% endif %}
                                {% if item.bing_change>0 %}</b>{% endif %}
                                {% if item.bing_change>0 %}(<span class="change_plus">+{{ item.bing_change }}</span>){% endif %}
                            </td>
                            <td>
                                {% if item.yahoo_change>0 %}<b>{% endif %}
                                    {% if item.yahoo_position != 0 %}
                                        {{ item.yahoo_position }} 
                                    {% else %}
                                        -
                                    {% endif %}
                                {% if item.yahoo_change>0 %}</b>{% endif %}
                                {% if item.yahoo_change>0 %}(<span class="change_plus">+{{ item.yahoo_change }}</span>){% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                No changes here yet..
            {% endif %}
        </div>
    </div>
</div>
<div class="ups_downs_sector">
    <div class="widget-box">
        <div class="widget-title"><h5>Downs</h5></div>
        <div class="widget-content">
            {% if keyword_ups_downs.down_keywords|length %}
                <table class="up_down_stats">
                    <tr>
                        <th>
                            Keyword
                        </th>
                        <th>
                            Google
                        </th>
                        <th>
                            Bing
                        </th>
                        <th>
                            Yahoo
                        </th>
                    </tr>
                    {% for item in keyword_ups_downs.down_keywords %}
                        <tr>
                            <td>
                                <a href="{{ path('account_keyword_stats') }}?keyword_id={{ item.id }}{{ competitor_aux_url }}">{{ item.keyword }}</a>
                            </td>
                            <td>
                                {% if item.google_change<0 %}<b>{% endif %}
                                    {% if item.google_position != 0 %}
                                        {{ item.google_position }} 
                                    {% else %}
                                        -
                                    {% endif %}

                                {% if item.google_change<0 %}</b>{% endif %}
                                {% if item.google_change<0 %}(<span class="change_minus">{{ item.google_change }}</span>){% endif %}
                            </td>
                            <td>
                                {% if item.bing_change<0 %}<b>{% endif %}
                                    {% if item.bing_position != 0 %}
                                        {{ item.bing_position }} 
                                    {% else %}
                                        -
                                    {% endif %}
                                {% if item.bing_change<0 %}</b>{% endif %}
                                {% if item.bing_change<0 %}(<span class="change_minus">{{ item.bing_change }}</span>){% endif %}
                            </td>
                            <td>
                                {% if item.yahoo_change<0 %}<b>{% endif %}
                                    {% if item.yahoo_position != 0 %}
                                        {{ item.yahoo_position }} 
                                    {% else %}
                                        -
                                    {% endif %}
                                {% if item.yahoo_change<0 %}</b>{% endif %}
                                {% if item.yahoo_change<0 %}(<span class="change_minus">{{ item.yahoo_change }}</span>){% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                No changes here.
            {% endif %}
        </div>
    </div>
</div>