<table class="table">
    <tr>
        <th>
            Project name
        </th>
        <th>
            Project domain
        </th>
        <th>
            Category
        </th>
        <th>
            Project hash
        </th>
        <th>
            Project description
        </th>
        <th>
            Keyword count
        </th>
        <th>
            Competitors
        </th>
        <th>
            Site uptime <a href="javascript:;" data-original-title="Site uptime" data-content="This section will alert you if your site was down for some reason." class="popup_hover_simple"><i class="icon-question-sign"></i></a>
        </th>
        <th>
            Created
        </th>
        <th>
            Options
        </th>
    </tr>
    <tr>
        <td>
            {{ project_details.project_name }}
        </td>
        <td>
            <a href="http://{{ project_details.project_domain }}" target="_blank">{{ project_details.project_domain }}</a>
        </td>
        <td>
            <a href="{{ path('account_projects') }}?category_id={{ project_details.category_id }}" title="See all projects of this category">{{ project_details.category_name }}</a>
        </td>
        <td>
            {{ project_details.project_hash }}
        </td>
        <td style="font-size: 11px;">
            {{ project_details.project_description }}
        </td>
        <td>
            <a href="{{ path('account_keywords') }}?hash={{ project_details.project_hash }}" title="See all keywords for this project">{{ keyword_cnt }}</a>
        </td>
        <td>
            <a href="{{ path('account_competitors') }}?hash={{ project_details.project_hash }}" title="See all competitors for this project">{{ competitor_cnt }}</a>
        </td>
        <td>
            {% if project_uptime|length %}{{ project_uptime.0.total_down/60 }} hours
                <br />
                <a href="{{ path('account_uptime') }}?hash={{ project_details.project_hash }}">Details</a>
            {% else %}
                Up all the time
            {% endif %}
        </td>
        <td>
            {{ format_date(project_details.added) }}
        </td>
        <td>
            <a href="javascript:;" onclick="showModifyModal('{{ project_details.project_hash }}')" class="btn btn-info" title="Modify project" style="padding:4px 14px;"><i class="icon-edit icon-white"></i></a>
            <a href="{{ path('account_delete_project') }}?hash={{ project_details.project_hash }}" onclick="return confirm('Please confirm you want to delete this project. (The keywords and all statistics associated with it will be deleted also)')" class="btn btn-danger" title="Delete project" style="padding:4px 14px;"><i class="icon-trash icon-white"></i></a>
        </td>
    </tr>
</table>