{% extends '::account_base.html.twig' %}
{% block body %}
    <h2>Dashboard</h2>
    <div class="sep"></div>
    You are using <b>{{ percentage }}</b>% of your SEOwatchman account.
    <br/>
    <b>Projects:</b> {{ projects.cnt_projects }} of possible {{ projects.total_allowed }}
    <br/>
    <b>Reports:</b> {{ cnt_reports }}
    <br/>
    <br/>
    <i>Some new items are about to come on this dashboard soon...</i>
    <div class="sep"></div>
    UPs and Downs for the last 2 days
    <div class="sep"></div>
    <table class="table">
        <tr>
            <th>Project</th>
            <th>Positions up</th>
            <th>Positions down</th>
            <th>Last update</th>
        </tr>
        {% for key,item in project_keyword_stats %}
            <tr>
                <td><a href="{{ path('account_project_details') }}?hash={{ item.project_hash }}">{{ key }}</a></td>
                <td><img src="/images/up.png" />&nbsp;{{ item.rises }}</td>
                <td><img src="/images/down.png" />&nbsp;{{ item.drops }}</td>
                <td>{{ format_date(now|date('Y-m-d')) }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}