{% extends '::account_base.html.twig' %}
{% block body %}
    <h2>Project details</h2>
    Change project: 
    <select name="hash" onchange="window.location='{{ path('account_project_details') }}?hash='+this.value">
        {% for item in project_list %}
            <option value="{{ item.project_hash }}" {% if app.request.get('hash')==item.project_hash %}selected="selected"{% endif %}>{{ item.project_name }}</option>
        {% endfor %}
    </select>
    <div class="sep"></div>
    {% include "FrontFrontBundle:Account:Project/project_stats/project_summary.html.twig" %}
    <div class="sep"></div>
    <hr />
    <i class="icon-info-sign"></i> Some general stats for today <i style="font-size: 11px;">({{ expl_str }})</i>
    <div class="sep"></div>
    {% include "FrontFrontBundle:Account:Project/project_stats/project_general_stats.html.twig" %}
    <div class="sep"></div>
    <hr />
    {% include "FrontFrontBundle:Account:Project/project_stats/overall_keyword_position.html.twig" %}
    <a href="{{ path('account_comparative_charts') }}?hash={{ project_details.project_hash }}">See more comparative charts</a>
    <div class="sep"></div>
    <hr />
    <i class="icon-info-sign"></i> Some more detailed stats <i style="font-size: 11px;">({{ expl_str }})</i>
    <div class="sep"></div>
    <div class="sep"></div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#ups_downs" data-toggle="tab">Ups & Downs</a></li>
        <li><a href="#top10_stats" data-toggle="tab">Top 10 stats</a></li>
        <li><a href="#competitor_overview" data-toggle="tab">Competitor overview</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="ups_downs">
            {% include "FrontFrontBundle:Account:Project/project_stats/project_ups_downs.html.twig" %}
        </div>
        <div class="tab-pane" id="top10_stats">
            {% include "FrontFrontBundle:Account:Project/project_stats/project_top10_stats.html.twig" %}
        </div>
        <div class="tab-pane" id="competitor_overview">
            
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="../css/jquery-ui-1.8.22.custom.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap-modal.js') }}"></script>
    <script src="{{ asset('js/bootstrap-dropdown.js') }}"></script>
    <script src="{{ asset('js/pages/projects.js') }}"></script>
    <script src="{{ asset('js_hh634h56/chart.js') }}"></script>
{% endblock %}
{% block inline_javascripts %}
    <script>
        jQuery(document).ready(function(){
            getCompetitorStats('{{ project_details.project_hash }}');
        });
    </script>
{% endblock %}