{% extends '::account_base.html.twig' %}
{% block body %}
    <h2>Project list</h2>
    <div class="sep"></div>
    You currently have {{ project_list|length }} projects of possible {{ max_packages }}.
    <div class="sep"></div>
    <a href="javascript:;" onclick="addProjectModal();" class="btn btn-success">Add project</a>
    <div class="sep"></div>
    <table class="table">
        <tr>
            <th>#</th>
            <th>Project name</th>
            <th>Category</th>
            <th>Domain</th>
            <th>Hash <a href="javascript:;" data-original-title="Project HASH" data-content="You will need this hash when using <a href=''>Google bot tracker</a>." class="popup_hover"><i class="icon-question-sign"></i></a></th>
            <th>Creation date</th>
            <th>Keyword count</th>
            <th style="padding-left:20px;text-align:left !important">Options</th>
        </tr>
        {% for key, item in project_list %}
            <tr>
                <td>{{ key+1 }}</td>
                <td><a href="{{ path('account_project_details') }}?hash={{ item.project_hash }}">{{ item.project_name }}</a></td>
                <td>{{ item.category_name }}</td>
                <td>{{ item.project_domain }}</td>
                <td>{{ item.project_hash }}</td>
                <td>{{ format_date(item.added) }}</td>
                <td>{{ item.cnt_keywords }}</td>
                <td width="150" style="padding:0">
                    <ul class="nav nav-pills" style="margin:0">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                Options
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('account_project_details') }}?hash={{ item.project_hash }}"><i class="icon-eye-open"></i>&nbsp;Details</a></li>
                                <li><a href="javascript:;" onclick="showModifyModal('{{ item.project_hash }}')"><i class="icon-edit"></i>&nbsp;Modify</a></li>
                                <li><a href="{{ path('account_keywords') }}?hash={{ item.project_hash }}"><i class="icon-screenshot"></i>&nbsp;Keywords</a></li>
                                <li><a href="{{ path('account_competitors') }}?hash={{ item.project_hash }}"><i class="icon-random"></i>&nbsp;Competitors</a></li>
                                <li><a href="{{ path('account_uptime') }}?hash={{ item.project_hash }}"><i class="icon-time"></i>&nbsp;Uptime</a></li>
{#                                <li><a href=""><i class="icon-globe"></i>&nbsp;Google bot tracker</a></li>#}
                                <li class="divider"></li>
                                <li><a href="{{ path('account_delete_project') }}?hash={{ item.project_hash }}" onclick="return confirm('Please confirm you want to delete this project. (The keywords and all statistics associated with it will be deleted also)')"><i class="icon-trash"></i>&nbsp;Delete</a></li>
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="javascript:;" onclick="addProjectModal();" class="btn btn-success">Add project</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap-modal.js') }}"></script>
    <script src="{{ asset('js/bootstrap-dropdown.js') }}"></script>
    <script src="{{ asset('js/pages/projects.js') }}"></script>
{% endblock %}