{% extends '::base.html.twig' %}
{% block body %}
    <div class="jumbotron">
        <h1>SEO tool<br />that fits your needs</h1>
        <div class="sep"></div>
        <p class="lead">SEOwatchman is an online collection of SEO tools that are developed for you on your <a href="{{ path('feature_demand') }}">demand</a>,<br /><b>seriously</b>, on your <a href="{{ path('feature_demand') }}">demand</a>.</p>
        <a class="btn btn-large btn-success" href="{{ path('login_register') }}">Sign up today</a>
    </div>
    <hr>
    <div class="text_center">
        <p class="lead">Some features available today</p>
    </div>
    <div class="row-fluid marketing relative">
        <div class="span6 features_homepage">
        {% for id,item in homepage_features %}
            <h2><a href="{{ path('feature_details', {'id':item.id, 'feature_title':item.feature_link}) }}" title="{{ item.link_title }}">{{ item.feature_title }}</a></h2>
            <p>{{ item.short_desc }}</p>
            {% if id==2 %}
                </div>
                <div class="span6 features_homepage">
            {% endif %}
        {% endfor %}
        </div>
        <div class="sep"></div>
        <a class="all_features_link" href="{{ path('features') }}">Sell all features>></a>
    </div>
{% endblock %}