{% extends '::account_base.html.twig' %}
{% block body %}
    <h2>Charts</h2>
    <div class="sep"></div>
    <form action="" method="GET">
        <select name="project" onchange="getProjectKeywords(this.value);getKeywordCompetitors(this.value);applyChangesHint()">
            <option value="0">[Choose project]</option>
            {% for item in project_list %}
                <option value="{{ item.project_hash }}" {% if app.request.get('project')==item.project_hash %}selected="selected"{% endif %}>{{ item.project_name }}</option>
            {% endfor %}
        </select>
        <span id="keywords_placeholder"></span>
        <div class="sep"></div>
        <span id="competitor_list_placeholder"></span>
        <div class="sep"></div>
        Period from <input type="text" style="width:100px;" name="from_date" id="from_date" class="datepicker" onchange="applyChangesHint();" value="{{ app.request.get('from_date') }}"> 
        to <input type="text" style="width:100px;" name="to_date" id="to_date" class="datepicker" onchange="applyChangesHint();" value="{{ app.request.get('to_date') }}">
        <div class="sep"></div>
        <input type="checkbox" name="search_engine[]" onchange="applyChangesHint();" id="se_google" {% if 'google' in app.request.get('search_engine') or app.request.get('all_search_engines') %}checked="checked"{% endif %} value="google"> <label class="no-block" for="se_google">Google</label><br />
        <input type="checkbox" name="search_engine[]" onchange="applyChangesHint();" id="se_bing" {% if 'bing' in app.request.get('search_engine') or app.request.get('all_search_engines') %}checked="checked"{% endif %} value="bing"> <label class="no-block" for="se_bing">Bing</label><br />
        <input type="checkbox" name="search_engine[]" onchange="applyChangesHint();" id="se_yahoo" {% if 'yahoo' in app.request.get('search_engine') or app.request.get('all_search_engines') %}checked="checked"{% endif %} value="yahoo"> <label class="no-block" for="se_yahoo">Yahoo</label><br />
        
        <input type="hidden" value="1" name="show_chart">
        <div class="sep"></div>
        <input type="submit" value="Apply" id="filter_apply_changes" class="btn btn-primary"> <span id="apply_changes_hint">- don't forget to apply the changes</span>
    </form>
    <div class="sep"></div>
    <a href="{{ path('account_keyword_stats') }}?{{ stats_link }}">See stats for this page</a>
    <div class="sep"></div>
    <div class="sep"></div>
    <div id="container_0" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    <div class="sep"></div>
    <div class="sep"></div>
    <div class="sep"></div>
    <div class="sep"></div>
    <div id="container_1" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    <div class="sep"></div>
    <div class="sep"></div>
    <div class="sep"></div>
    <div class="sep"></div>
    <div id="container_2" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    <div class="sep"></div>
    <div class="sep"></div>
    <div class="sep"></div>
    <div class="sep"></div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="../css/jquery-ui-1.8.22.custom.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap-modal.js') }}"></script>
    <script src="{{ asset('js/jquery-ui-1.8.22.custom.min_datepicker.js') }}"></script>
    <script src="{{ asset('js/pages/chart.js') }}"></script>
    <script src="{{ asset('js/pages/keyword_stats.js') }}"></script>
    <script src="{{ asset('js_hh634h56/chart.js') }}"></script>
{% endblock %}
{% block inline_javascripts %}
    <script>
        jQuery(document).ready(function(){
            jQuery('.datepicker').datepicker({dateFormat: '{{ format_date('', 0, 1)}}'});
            {% if app.request.get('show_chart') %}
                
                {% for key, item in axes %}
                    var chart_{{ key }};
                    chart_{{ key }} = new Highcharts.Chart({
                        chart: {
                            renderTo: 'container_{{ key }}',
                            type: 'spline',
                            zoomType: 'x'
                        },
                        title: {
                            text: '{{ item.x_title|raw }}',
                            x: -20 //center
                        },
                        subtitle: {
                            text: '',
                            x: -20
                        },
                        xAxis: {
                            categories: {{ item.xAxis|raw }},
                            overflow: 'undefined',
                            labels: {
                                rotation: -45,
                                aligh: 'right',
                                x: -20,
                                y: 35,
                                style: {
                                    fontSize: '11px'
                                }
                            }
                        },
                        yAxis: {
                            reversed:true,
                            title: {
                                text: '{{ item.y_title }}'
                            },
                            min:1,
                            max:100
                        },
                        tooltip: {
                            crosshairs: true,
                            shared: true
                        },
                        plotOptions: {
                            spline: {
                                marker: {
                                    radius: 4,
                                    lineColor: '#666666',
                                    lineWidth: 1
                                }
                            }
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'top',
                            x: -10,
                            y: 50,
                            borderWidth: 0
                        },
                        series: [
                            {% for index, data in item.yAxis %}
                                {
                                    name: '{{ data.name }}',
                                    data: {{ data.data }}
                                }
                                {% if index!=(item.yAxis|length)-1 %},{% endif %}
                            {% endfor %}
                        ]
                    });
                {% endfor %}
            {% endif %}
        });
        {% if app.request.get('project') %}
            getProjectKeywords('{{ app.request.get('project') }}', '{{ app.request.get('keyword_id') }}');
            getKeywordCompetitors('{{ app.request.get('project') }}');
            {% for item in app.request.get('competitor_ids') %}
                addCompetitor({{ item }});
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}