{% extends '::backend_base.html.twig' %}
{% block body %}
<h5>Cron logs</h5>
<div class="sep"></div>
<form action="{{ path('BackendBackendBundle_cron_watcher') }}" method="get">
    Between dates: <input type="text" name="from_date" value="{{ app.request.get('from_date') }}"> and <input type="text" name="to_date" value="{{ app.request.get('to_date') }}"> 
    Status: 
    <select name="cron_status">
        <option value="">All</option>
        <option {% if app.request.get('cron_status')==1 %}selected="selected"{% endif %} value="1">1</option>
        <option {% if app.request.get('cron_status')==2 %}selected="selected"{% endif %} value="2">2</option>
        <option {% if app.request.get('cron_status')==3 %}selected="selected"{% endif %} value="3">3</option>
    </select>  
    Cron name: <input type="text" name="cron_name" value="{{ app.request.get('cron_name') }}"> 
    <br />
    Is read: 
    <select name="is_read">
        <option value="">All</option>
        <option {% if app.request.get('is_read')=='yes' %}selected="selected"{% endif %} value="yes">Yes</option>
        <option {% if app.request.get('is_read')=='no' %}selected="selected"{% endif %} value="no">No</option>
    </select>  
    
    <br />
    <input type="submit" class="btn btn-success" value="Filter">
</form>
<hr />
Total money till now: {{ payment_stats.money_till_now }}
<br />
Money to receive this month: {{ payment_stats.to_receive_this_month }}
<br />
Money to receive next month: {{ payment_stats.to_receive_next_month }}
<br />
<div class="sep"></div>
<div class="sep"></div>
<script>
    function cron_actions_func(value) {
        jQuery('#todo').val(value);
        jQuery('#cron_actions_form').submit();
    }
</script>
<form method="post" action="" id="cron_actions_form">
    <input type="hidden" name="todo" value="" id="todo">
    With selected: 
    <select name="cron_actions" onchange="cron_actions_func(this.value)">
        <option value=""></option>
        <option value="mark_read">Mark as read</option>
        <option value="delete">Delete</option>
    </select>
    <table class="table">
        <tr>
            <th><input type="checkbox" name="check_all" onchange="jQuery('.chbox').attr('checked', this.checked)" value="1"></th>
            <th>Cron name</th>
            <th>Status</th>
            <th>Added</th>
        </tr>
        {% for item in cron_logs %}
            <tr class="{% if item.cron_status == 2 %}warning {% elseif item.cron_status == 3 %}error{% endif %}">
                <td {% if item.is_read==0 %}style="background-color:#A6FFB8;"{% endif %}><input type="checkbox" class="chbox" name="checkbox[{{ item.id }}]" value="1"></td>
                <td><a href="{{ path('BackendBackendBundle_cron_profile') }}?session_id={{ item.session_id }}">{{ item.cron_name }}</a></td>
                <td>{{ item.cron_status }}</td>
                <td>{{ item.added }}</td>
            </tr>
        {% endfor %}
    </table>
    With selected: 
    <select name="cron_actions" onchange="cron_actions_func(this.value);">
        <option value=""></option>
        <option value="mark_read">Mark as read</option>
        <option value="delete">Delete</option>
    </select>
</form>

{% endblock %}
