<table class="table">
    <tr>
        <th>
            Competitor name
        </th>
        <th>
            Competitor domain
        </th>
        <th>
            Keyword count
        </th>
        <th>
            Created
        </th>
        <th>
            Options
        </th>
    </tr>
    <tr>
        <td>
            {{ competitor_details.competitor_name }}
        </td>
        <td>
            <a href="http://{{ competitor_details.competitor_domain }}" target="_blank">{{ competitor_details.competitor_domain }}</a>
        </td>
        <td>
            <a href="{{ path('account_keywords') }}?hash={{ competitor_details.project_hash }}" title="See all keywords for this project">{{ keyword_cnt }}</a>
        </td>
        <td>
            {{ format_date(competitor_details.added) }}
        </td>
        <td>
            <a href="javascript:;" onclick="showModifyModal('{{ competitor_details.project_hash }}')" class="btn btn-info" title="Modify project" style="padding:4px 14px;"><i class="icon-edit icon-white"></i></a>
            <a href="{{ path('account_delete_project') }}?hash={{ competitor_details.project_hash }}" onclick="return confirm('Please confirm you want to delete this project. (The keywords and all statistics associated with it will be deleted also)')" class="btn btn-danger" title="Delete project" style="padding:4px 14px;"><i class="icon-trash icon-white"></i></a>
        </td>
    </tr>
</table>