<div class="sep"></div>
<form action="" method="get" style="margin: 0">
    <select name="" onchange="window.location='{{ path('account_keywords') }}?hash='+this.value">
       {% for item in all_projects %}
           <option value="{{ item.project_hash }}" {% if project_data.id == item.id %}selected="selected"{% endif %}>{{ item.project_name }}</option>
       {% endfor %}
    </select> 
    <i class="icon-arrow-right"></i> 
    <select name="keyword_id" onchange="applyChangesHint();">
        {% for item in all_keywords %}
            <option value="{{ item.id }}" {% if keyword_data.id == item.id %}selected="selected"{% endif %}>{{ item.keyword }}</option>
        {% endfor %}
     </select> 
    {% if keyword_data.last_track %}
        <i>(Last track on {{ format_date(keyword_data.last_track) }})</i>
    {% else %}
        <i>(This keyword has not been tracked yet)</i>
    {% endif %}
    <br />
    <div class="sep"></div>
    <div class="well">
<!--        <input type="hidden" name="keyword_id" value="{{ app.request.get('keyword_id') }}">-->
        Period from <input type="text" style="width:100px;" onchange="applyChangesHint();" name="from_date" id="from_date" class="datepicker" value="{{ app.request.get('from_date') }}"> 
        to <input type="text" style="width:100px;" onchange="applyChangesHint();" name="to_date" id="to_date" class="datepicker" value="{{ app.request.get('to_date') }}">
        &nbsp;&nbsp;&nbsp;Results per page: 
        <select name="results_per_page" style="width: 70px;" onchange="applyChangesHint();">
            <option value="10" {% if app.request.get('results_per_page')==10 %}selected="selected"{% endif %}>10</option>
            <option value="20" {% if app.request.get('results_per_page')==20 %}selected="selected"{% endif %}>20</option>
        </select>
        {% include "FrontFrontBundle:Account:Keyword/incl_keyword_competitors.html.twig" %}
        <br />
        <input type="submit" id="filter_apply_changes" value="Apply" class="btn btn-primary"> <span id="apply_changes_hint">- don't forget to apply the changes</span>
    </div>
</form>
<a class="label label-info popup_hover_simple_click" id="legend_a" href="javascript:;" data-original-title="Legend">
    <i class="icon-info-sign icon-white"></i>&nbsp;Legend
</a>
<div id="legend_div" style="display: none;">
    <span style='padding:7px;padding-right:15px;padding-left:15px;background-color:#96FF47;margin:3px;float:left;'>7/+2</span> - this means that the position in a search engine for the date displayed at left is 7 and it is 2 positions UP in comparision to last time
    <div class="sep"></div>
    <br />
    <span style='padding:7px;padding-right:15px;padding-left:15px;background-color:#FFA5A5;margin:3px;float:left;'>8/-3</span> - this means that the position in a search engine for the date displayed at left is 8 and it is 3 positions DOWN in comparision to last time
    <div class="sep"></div>
    <br />
    <span style='padding:7px;padding-right:15px;padding-left:15px;'>"-"</span> - the keyword was not found in first 10 pages of the coresponding search engine
</div>